$btn-text-header: #fff;
$btn-background-active: #6741d9;

$accent: #c541d9;
$header-backgroud: #fffbf3;
$background-secondary: #fffbf3;
$background-primary: #fffcf6;

$header-background: #fffbf3;
$text-secondary: #797779;
$text-unactive: #797779;
$text-primary: #4a494a;
$text-active: #555355;

$title-mob-menu: #4a494a;
$title: #2e2d2d;

$link: #7791fa;
$link-active: #5366af;
$input-border: #b1b0b1;
$input-text: #908e90;
$input-placeholder: #9c978f;
$link-active-tablet: #495899;
$form-btn-text: #fefcf7;

$uvactive-btn: #c8c7c8;

$error: #f40000;

$modal-overlay: #45434380;
$modal-background: #fff8ea;
$modal-text: #555355;
