$xxsFontSize: 12px;
$xsFontSize: 14px;
$smallFontSize: 16px;
$normalFontSize: 18px;
$mediumFontSize: 20px;
$mediumLargeFontSize: 22px;
$largeFontSize: 24px;
$xlFontSize: 28px;
$xxlFontSize: 32px;
$xxxlFontSize: 48px;
