@import "../../styles/colors.module.scss";
@import "../../styles/variables.module.scss";

.formContainer {
  width: 100%;
  padding: 0 16px 20px;
  margin-bottom: 40px;

  @media screen and (min-width: 376px) {
    width: 376px;
  }

  @media screen and (min-width: 768px) {
    width: 524px;
    padding: 0 20px 20px;
  }

  @media screen and (min-width: 1280px) {
    width: 600px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  background-color: transparent;

  @media screen and (min-width: 376px) {
    width: 344px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1280px) {
    width: 496px;
  }
}

.formTitle {
  margin-bottom: 20px;
  text-align: center;
  color: $title-mob-menu;
  font-size: $normalFontSize;
  font-weight: 700;
  line-height: 1.2;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    font-size: $xlFontSize;
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.label {
  color: $text-secondary;
  font-size: $smallFontSize;
  line-height: 1.4;

  @media screen and (min-width: 768px) {
    font-size: $normalFontSize;
  }
}

.input {
  padding: 9px 12px;
  border-radius: 5px;
  border: 1px solid $input-border;
  background: $background-secondary;
  font-size: $smallFontSize;
  line-height: 1.4;

  @media screen and (min-width: 768px) {
    padding: 12px 20px;
    font-size: $normalFontSize;
  }

  &.errorInput {
    color: $error;
    border: 1px solid $error;
  }

  &::placeholder {
    color: $input-placeholder;
  }

  &:focus::placeholder {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }
}

.errorMessage {
  color: $error;
  font-size: $xxsFontSize;
  line-height: 1.4;

  @media screen and (min-width: 768px) {
    font-size: $xsFontSize;
  }
}

.submitBtn {
  background-color: #27917c;
  background-image: none;
  border: 1px solid #27917c;
  border-radius: 8px;
  color: #fff;
  padding: 10px 20px;
}
